body
{background-color:#ffff80;}
div#obraz 
{width:90%;}
 p
 {width:90%;}
	
h1 
	{font-family:"Arial black";
font-size:50px;
	}
@media (max-width:400px) 
{
body
{background-color:green;}
}
